PLANE_API_TOKEN=plane_api_...
PLANE_BASE_URL=https://projects.arbisoft.com
PLANE_WORKSPACE_SLUG=moneta
PLANE_PROJECT_ID=51d0708d-50e9-4c78-b95c-1df4bf0372b8
GITHUB_TOKEN=ghp_...
FOSS_USER=<sandbox username>
FOSS_PASS=<sandbox password>
DEVSTACK_PATH=/path/to/devstack
LOG_LEVEL=INFO
